extends layout

include _includes/jade_mixins
mixin make_map(lat,lon)
  img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{lat},+#{lon}&zoom=16&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C#{lat},+#{lon}')

block content
  .row.page-header
    .col-lg-12
      h1= location_info.name
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +make_rating(location_info.rating)
          p= location_info.address
            .panel.panel-primary
              .panel-heading
                h2.panel-title= panel_headers.hours
              .panel-body
                each hour in location_info.hours
                  if hour.closed
                    p #{hour.period}: closed
                  else
                    p #{hour.period}: #{hour.open}-#{hour.close}
            .panel.panel-primary
              .panel-heading
                h2.panel-title= panel_headers.facilities
              .panel-body
                each facility in location_info.facilities
                  span.label.label-warning
                    span.glyphicon.glyphicon-ok
                    | &nbsp;#{facility}
                  | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title= panel_headers.map
            .panel-body
              +make_map(location_info.location.lat,location_info.location.lon)
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new')= add_review
              h2.panel-title= panel_headers.reviews
            .panel-body.review-container
              each review in reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +make_rating(review.rating)
                      span.review-author= review.author
                      small.review-timestamp= review.date
                    .col-xs-12
                      p.review-text!= (review.review).replace(/\n/g,'<br />')
    .col-xs-12.col-md-3
      p.lead= sidebar.main
      p= sidebar.under